* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-gap: 0;
    min-height: 100vh;
}

nav ul {
    list-style: none;
}

header {
    background-color: lightsalmon;
    grid-area: header;
    padding: 1px;
}

nav {
    background-color: lightgoldenrodyellow;
    grid-area: nav;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
}

main {
    background-color: lightskyblue;
    grid-area: main;
    padding: 1px;
}

footer {
    background-color: lightblue;
    grid-area: footer;
    padding: 1px;
}



#calculatorarea {
    display: grid;
    grid-area: calculator;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-auto-flow: row;
    height: 450px;
    width: 200px;
}

#currentinputarea {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    
}

#currentinput {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    max-width: 180px;
    max-height: 80px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

#previewresultarea {
    grid-column: 1/5;
    grid-row: 3;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    position: relative;
}

#previewresult {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

#calculatorinputbuttons {
    grid-column: 1/5;
    grid-row: 4/10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    text-align: center;
    background-color: linen;
}

#calculatorinputbuttons > div {
    display: table-cell;
    border: 1px solid black;
    user-select: none;
    width: 50px;
    height: 50px;
    padding: 15px;
}

#calculatorinputbuttons > div:hover {
    background-color: rgb(210, 255, 255);
}

#calculatorinputbuttons > div:active {
    background-color: rgb(140, 255, 255);
}

#calculatorwrapper {
    display: grid;
    grid-gap: 15px;
    min-height: 450px;
    padding-left: 15px;
    padding-right: 15px;
}

#historyarea {
    grid-area: history;
    height: auto;
    max-width: 400px;
    width: auto;
    /*background-color: aquamarine;*/
    overflow-x: auto;
    overflow-wrap: break-word;
}

#historyarea > h2 {
    text-align: center;
}

#historyparagraph {
    white-space: pre-wrap;
}

@media (max-width: 799px) {
    body {
        grid-template-areas:
            'header'
            'nav'
            'main'
            'footer';
        grid-template-rows: 200px auto auto 300px;
    }

    
}

@media (min-width: 800px) {
    body {
        grid-template-areas:
            'header header'
            'nav main'
            'nav footer';
        grid-template-rows: 200px auto 150px;
        grid-template-columns: 1fr 4fr;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    }

    .sticky2 {
        position: -webkit-sticky;
        position: sticky;
        top: 55px;
    }

    
}

@media (min-width: 650px) {
    #calculatorwrapper {
        width: 650px;
        grid-template-areas: 
            'calculator history';
        grid-template-rows: 450px;
    }

    #historyarea {
        width: 400px;
    }
}

@media (max-width: 649px) {
    #calculatorwrapper {
        max-width: 450px;
        min-width: 300px;
        width: auto;
        grid-template-areas: 
            'calculator'
            'history';
        grid-template-rows: 450px auto;
    }
}